<div class="container mt-3">
  <app-error-list [erros]="errosServer" />
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="row mb-3">
      <div class="col-12">
        <label for="descricao" class="form-label">Descrição</label>
        <input
          type="email"
          class="form-control"
          id="descricao"
          formControlName="descricao"
        />
        <span
          class="text-danger py-1"
          [innerHTML]="erros['descricao']"
          *ngIf="erros['descricao']"
        ></span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="valor" class="form-label">Valor</label>
        <input
          type="text"
          class="form-control"
          id="valor"
          formControlName="valor"
          (input)="formatarValor($event)"
        />
        <div
          *ngIf="erros['valor']"
          class="text-danger py-1"
          [innerHTML]="erros['valor']"
        ></div>
      </div>
      <div class="col-md-6">
        <label for="data" class="form-label">Data</label>
        <input
          type="date"
          class="form-control"
          id="data"
          formControlName="data"
        />
        <div
          *ngIf="erros['data']"
          class="text-danger py-1"
          [innerHTML]="erros['data']"
        ></div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6" formGroupName="categoria">
        <label for="categoria" class="form-label">Categoria</label>
        <select
          class="form-select"
          formControlName="idCategoria"
        >
          <option value="" disabled selected>Selecione</option>
          <option
            *ngFor="let categoria of categorias"
            [value]="categoria.id"
          >
            {{ categoria.nome }}
          </option>
        </select>
        <div
          *ngIf="erros['idCategoria']"
          class="text-danger py-1"
          [innerHTML]="erros['idCategoria']"
        ></div>
      </div>
      <div class="col-6">
        <label for="tipo" class="form-label">Tipo</label>
        <select class="form-select" formControlName="tipo">
          <option value="" disabled selected>Selecione</option>
          <ng-container *ngIf="tipo; else listaTipos">
            <option [value]="tipo">
              {{ tipo == 1 ? "Receita" : "Despesa" }}
            </option>
          </ng-container>
        </select>
        <div
          *ngIf="erros['tipo']"
          class="text-danger py-1"
          [innerHTML]="erros['tipo']"
        ></div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success w-100"
      [disabled]="!formGroup.valid"
    >
      Enviar
    </button>
  </form>
</div>
<ng-template #listaTipos>
  <option value="1">Receita</option>
  <option value="2">Despesa</option>
</ng-template>
