<div class="container py-5">
  <div class="row mb-4">
    <form [formGroup]="filtroForm" class="row align-items-end" (ngSubmit)="filtrar()">
      <div class="col-md-4">
        <label for="periodo" class="form-label">
          <i class="fa fa-calendar-alt me-2"></i> Período
        </label>
        <input
          type="month"
          id="periodo"
          class="form-control"
          formControlName="periodo"
        />
      </div>
      <div class="col-md-4">
        <label for="categoria" class="form-label">
          <i class="fa fa-list-alt me-2"></i> Categoria
        </label>
        <select
          id="categoriaId"
          class="form-select"
          formControlName="categoriaId"
        > 
        <option value="" selected>Selecione</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-primary rounded-pill px-4" type="submit">
          <i class="fa fa-filter me-2"></i> Filtrar
        </button>
      </div>
    </form>
  </div>

  <div class="col-12 text-center mt-3">
    <a class="btn btn-success px-4 py-2" (click)="showModalNovo = true">
      <i class="bi bi-plus-lg"></i> Novo Limite
    </a>
  </div>
  <app-tabela [colunas]="tabela.colunas" [dados]="limites" [acoes]="tabela.acoes"/>
  <app-empty-state [condicao]="limites.length === 0" [conteudo]="'Sem registros para listar'"/>
</div>
<app-modal [label]="'Novo Limite'" [showModal]="showModalNovo" (modalChanged)="fecharModal()"> 
  <ng-container *ngIf="showModalNovo">
    <app-formulario-limite (processouComSucesso)="processarSucesso()"/>
  </ng-container>
</app-modal>
<app-modal [label]="'Editar Limite'" [showModal]="showModalEditar" (modalChanged)="fecharModal()"> 
  <ng-container *ngIf="limite">
    <app-formulario-limite [id]="limite.id" (processouComSucesso)="processarSucesso()"/>
  </ng-container>
</app-modal>
<app-modal [label]="'Excluir Limite'" [showModal]="showModalExcluir" (modalChanged)="fecharModal()"> 
   <app-confirmacao-excluir (changed)="corresponderAcaoExcluir($event)">
    <ng-container *ngIf="limite">
     <app-detalhe-limite [limite]="limite" />
    </ng-container>
    </app-confirmacao-excluir>
</app-modal>
