<div class="container-grid">
  <div class="header item">
    <div class="header-col">
      <app-saudacao-usuario/>
      <div class="resumo-mensal">
        <div class="receita">
          <span>receita mensal</span>
          <p>{{(resumoSaldo$ | async )?.totalReceita || 0 | currency:'BRL':'symbol':'1.2-2'}} </p>
        </div>
        <div class="despesa">
          <span>despesa mensal</span>
          <p>{{(resumoSaldo$ | async )?.totalDespesa || 0 | currency:'BRL':'symbol':'1.2-2' }}</p>
        </div>
      </div>
    </div>
    <div class="header-col">
      <div class="acesso-rapido">
        <span>Acesso rápido</span>
        <div class="acoes">
          <div class="btn-saida" (click)="novaDespesa()" style="cursor: pointer;" title="nova saida"></div>
          <div class="btn-entrada" (click)="novaReceita()" style="cursor: pointer;" title="nova entrada"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <p>saldo total</p>
    <p>{{(resumoSaldo$ | async )?.totalSaldo || 0 | currency:'BRL':'symbol':'1.2-2' }}</p>
  </div>
  <div class="item">
    <app-grafico-transacao [transacoes]="transacoes"/>
  </div>
<app-modal [label]="options.label" [cssClass]="options.cssClass" [showModal]="showModal" (modalChanged)="showModal = false">
  <ng-container *ngIf="showModal">
    <app-formulario-transacao [tipo]="tipo"/>
  </ng-container>
</app-modal>