.container-grid {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  .header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    &::after {
      content: '';
      width: 1px;
      height: 100px;
      background-color: #EBEBEB;
      position: absolute;
      left: 50%;
      top: 20%;
    }

    .resumo-mensal {
      display: flex;
      justify-content: center;
      gap: 24px;

      span {
        color: #A0A2A7
      }

      .receita p {
        color: #249E3F;
        text-transform: uppercase;
      }

      .despesa p {
        color: #D72646;
        text-transform: uppercase;
      }

      .despesa {
        position: relative;
      }

      .despesa::after {
          content: '';
          width: 1px;
          height: 50px;
          background-color: #EBEBEB;
          position: absolute;
          left: -10px;
          top: 10px
      }
    }
    .acesso-rapido {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 18px;

      span {
        font-weight: bold;
        color: #2E312D;
      }

      .acoes {
        display: flex;
        justify-content: center;
        gap: 18px;
      }
    }
  }

  .item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 18px;
  }
}

.btn-entrada {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #249E3F;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before, &::after {
    content: '';
    position: absolute;
    background-color: #249E3F;
  }

  &::before { 
    width: 25px;
    height: 4px;
  }

  &::after { 
    width: 4px;
    height: 25px;
  }
}

.btn-saida {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #D72646;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    background-color: #D72646;
  }

  &::before {
    width: 25px;
    height: 4px;
  }
}