<div class="dashboard">
  <div class="dashboard-header">
    <app-saudacao-usuario />
    <div class="dashboard-summary">
      <div class="summary-card receita">
        <span>Receita Mensal</span>
        <p>R$ {{ (resumoSaldo$ | async)?.totalReceita | brCurrency}}</p>
      </div>
      <div class="summary-card despesa">
        <span>Despesa Mensal</span>
        <p>R$ {{ (resumoSaldo$ | async)?.totalDespesa | brCurrency }}</p>
      </div>
      <div class="summary-card saldo">
        <span>Saldo Total</span>
        <p>R$ {{ (resumoSaldo$ | async)?.totalSaldo | brCurrency }}</p>
      </div>
    </div>
  </div>

  <!-- Ações Rápidas -->
  <div class="quick-actions">
    <span>Acesso Rápido</span>
    <div class="action-buttons">
      <button class="btn-action entrada" (click)="novaReceita()" title="Nova Receita">
        <i class="fa-solid fa-circle-plus"></i>
      </button>
      <button class="btn-action saida" (click)="novaDespesa()" title="Nova Despesa">
        <i class="fa-solid fa-circle-minus"></i>
      </button>
    </div>
  </div>
  <!-- Gráfico -->
  <div class="dashboard-chart">
    <app-grafico-transacao [transacoes]="transacoes" />
  </div>
</div>

<!-- Modal -->
<app-modal [label]="options.label" [cssClass]="options.cssClass" [showModal]="showModal" (modalChanged)="showModal = false">
  <ng-container *ngIf="showModal">
    <app-formulario-transacao [tipo]="tipo" (processouComSucesso)="processarSucesso()"/>
  </ng-container>
</app-modal>
