<div class="container mt-3">
  <app-error-list [erros]="errosServer" />
  <form [formGroup]="limiteOrcamentoForm" (ngSubmit)="submit()">
    <div class="row mb-3">
      <div class="col-12 mb-3 mx-auto">
        <label for="periodo" class="form-label">Periodo:</label>
        <input
          type="month"
          class="form-control"
          id="periodo"
          formControlName="periodo"
        />
        <div
          *ngIf="erros['periodo']"
          class="text-danger py-1"
          [innerHTML]="erros['periodo']"
        ></div>
      </div>
      <div class="col-12">
        <label for="tipoLimite" class="form-label">Tipo</label>
        <select class="form-select" formControlName="tipoLimite" #tipoLimite>
          <option value="" disabled selected>Selecione</option>
          <option value="1">Geral</option>
          <option value="2">Categoria</option>
        </select>
        <span
          class="text-danger py-1"
          [innerHTML]="erros['tipoLimite']"
          *ngIf="erros['tipoLimite']"
        ></span>
      </div>
    </div>
    <div class="col-12 mb-3" *ngIf="tipoLimite.value == '2'">
      <label for="categoria" class="form-label">Categoria</label>
      <select
        class="form-select"
        formControlName="categoriaId">
        <option value="" disabled selected>Selecione</option>
        <option
          *ngFor="let categoria of categorias"
          [value]="categoria.id"
        >
          {{ categoria.nome }}
        </option>
      </select>
      <div
        *ngIf="erros['categoriaId']"
        class="text-danger py-1"
        [innerHTML]="erros['categoriaId']"
      ></div>
    </div>
    <div class="row mb-4">
      <div class="col-md-6">
        <label for="valor" class="form-label">Valor</label>
        <input
          type="text"
          class="form-control"
          id="limite"
          formControlName="limite"
          placeholder="R$ 0,00"
        />
        <div
          *ngIf="erros['limite']"
          class="text-danger py-1"
          [innerHTML]="erros['limite']"
        ></div>
      </div>
      <div class="col-6">
        <label for="porcentagemAviso" class="form-label" title="Porcentagem de aviso de limite atingido">Avisar quando atingir:</label>
        <select class="form-select" formControlName="porcentagemAviso">
          <option value="100" selected>100%</option>
          <option value="50">50%</option>
          <option value="30">30%</option>
        </select>
        <div
          *ngIf="erros['porcentagemAviso']"
          class="text-danger py-1"
          [innerHTML]="erros['porcentagemAviso']"
        ></div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success w-100"
      [disabled]="!limiteOrcamentoForm.valid"
    >
      Enviar
    </button>
  </form>
</div>
