<div class="container mt-4">
  <app-resumo-financeiro [dados]="resumo"/>
  <div class="col-12 text-center mt-3">
    <a (click)="showModalNovo = true" class="btn btn-success px-4 py-2">
      <i class="bi bi-plus-lg"></i> Nova Transação
    </a>
  </div>
  <app-tabela
    [colunas]="tabela.colunas"
    [dados]="transacoes"
    [acoes]="tabela.acoes"
  ></app-tabela>

  <app-empty-state [condicao]="transacoes.length === 0" [conteudo]="'Você ainda não registrou nenhuma transação. Que tal começar agora?'"/>
</div>

<app-modal [label]="'Editar Transação'" [showModal]="showModalEditar" (modalChanged)="fecharModal()">
  <ng-container *ngIf="transacao">
    <app-formulario-transacao [id]="transacao.id" (processouComSucesso)="processarSucesso()"/>
  </ng-container>
</app-modal>

<app-modal [label]="'Excluir Transação'" [showModal]="showModalExcluir" (modalChanged)="fecharModal()">
  <app-confirmacao-excluir (changed)="corresponderAcaoExcluir($event)">
    <ng-container *ngIf="transacao">
      <app-detalhe [transacao]="transacao" />
    </ng-container>
  </app-confirmacao-excluir>

</app-modal>

<app-modal [label]="'Nova Transação'" [showModal]="showModalNovo" (modalChanged)="fecharModal()">
  <ng-container *ngIf="showModalNovo">
    <app-formulario-transacao (processouComSucesso)="processarSucesso()" />
  </ng-container>
</app-modal>
