.modal-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;

  display: none;
  justify-content: center;
  align-items: center; 

  &.ativo {
    display: flex;

    .modal-box {
      animation: modal .4s forwards;
    }
  }

  .modal-box {
    background: white;
    padding: 40px;
    position: relative;
    border-radius: 6px;
    min-width: 300px;

    .fechar {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .modal-titulo {
      font-weight: bold;
    }
  }
}

.sucesso {
  border: 5px solid #16C64F;
}

.falha {
  border: 5px solid #E54;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

